.hand {
	cursor:pointer;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.myCalendar h2 {
	font-size: 16px !important;
	font-weight: bold;
}

.highlighted {
	background-color: yellow;
}